.riya{
  color:black;
  font-weight:bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:pink;
  width:90px;
  height:25px;
  margin:1px;
  cursor:pointer;
  transition: all 0.3s ease;
  position: relative;
}
.riya:hover {
  z-index: 5;
  transform: scale(1.1); 
  box-shadow: 0px 5px 15px black;
}

body{
  background-color:papayawhip;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  display:flex;
  margin: 5px;
}
.one{
  color:black;
  background-color: pink;
  font-weight:bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width:90px;
  height:25px;
  display:flex;
  cursor:pointer;
}
.image img {
  width: 200px;
  height: 250px;
  margin:10px;
}
.two{
  background-color:pink;
  color:black;
  font-weight:bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor:pointer;
}
