*{
  background-color: peachpuff;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.pramod{
  color: green;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.products-image {
  max-width: 100%;    /* Ensures the image won't exceed the container width */
  max-height: 300px;  /* Limits the height of the image */
  object-fit: contain; /* Keeps the aspect ratio of the image intact */
  width: '100px';        /* Allows the width to adjust based on the aspect ratio */
  height: '100px';       /* Allows the height to adjust based on the aspect ratio */
}


